.App {
  font-family: sans-serif;
  text-align: center;
}

table, th, td {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 1rem 1.5rem;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color: blueviolet;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.margin-horizontal {
  margin: 0 1.5rem;
}

.match {
  border: 1px solid black;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.px-2 {
  padding: 0 0.5rem;
}